<!DOCTYPE html>
<html>
  <head>
    <title>RailsMessageBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted segment">
      <div class="ui container">
        <div class="ui inverted secondary menu">
          <%= render "layouts/navigation" %>
        </div>
      </div>
    </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
