<!DOCTYPE html>
<html>
  <head>
    <title>RailsMessageBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted segment">
      <div class="ui container">
        <div class="ui inverted secondary menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
          <div class="right menu">
            <a class="item">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
